In [15]:
students=['park','kim','lee','hong','kang']
for students in students :
    print(students)
print(students)

park
kim
lee
hong
kang
kang

In [16]:
string='Python'
for char in string :
    char = char.upper()
    print (char)

P
Y
T
H
O
N

In [5]:
std_no={'park':1, 'kim':2, 'lee':3}
for item in std_no.items() :
    print(item)
print(item)

('park', 1)
('kim', 2)
('lee', 3)
('lee', 3)

In [6]:
for a, b, c in [(1,2,3),(3,4,5),(5,6,7)] :
    print (a,b,c)
for a, b in [(1,2,3),(3,4,5),(5,6,7)] :
    print (a,b)

1 2 3
3 4 5
5 6 7

ValueError: too many values to unpack (expected 2)

In [7]:
for name, number in std_no.items() :
    print(f'{name}\'s student number is {number}')
print(name, number)

park's student number is 1
kim's student number is 2
lee's student number is 3
lee 3

In [10]:
num = range(10)
print(num, type(num))
print(list(num))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for num in range (5,8) : 
    print(num)

5
6
7

In [18]:
students=['park','kim','lee','hong','kang']
for i in range (1,5) :
    print(students[i])

kim
lee
hong
kang

In [20]:
for i in range(0,3) : 
    print ("i value is",i)
    for j in range(3,6) :
        print("i =",i, "j =",j, "i x j =", i*j)
print("The end")

i value is 0
i = 0 j = 3 i x j = 0
i = 0 j = 4 i x j = 0
i = 0 j = 5 i x j = 0
i value is 1
i = 1 j = 3 i x j = 3
i = 1 j = 4 i x j = 4
i = 1 j = 5 i x j = 5
i value is 2
i = 2 j = 3 i x j = 6
i = 2 j = 4 i x j = 8
i = 2 j = 5 i x j = 10
The end

In [21]:
for num in range(4) : 
    if num%2==0:
        print(f"{num}is an even number")
    else:
        print(f"{num}is an odd number")
print("The end")

0is an even number
1is an odd number
2is an even number
3is an odd number
The end

#### Q1. 1000이하의 2와 7의 공배수 중 가장 큰 것은?

In [22]:
for num in range(1,1001) :
    if(num%2 == 0) :
        if(num%7 == 0) :
            cur = num
print (f"1000이하의 2와 7의 공배수 중 가장 큰 것은 {cur}입니다. ")

1000이하의 2와 7의 공배수 중 가장 큰 것은 994입니다.

In [27]:
for num in range(4) : # range 값을 3, 4, 5, 6으로 수정해볼 것
    if num>=4 : 
        break
    else :
        print(num)
else :
    print("There was no break!")

0
1
2
3
There was no break!

#### L1와 L2가 동시에 바뀌므로 무한 루프에 빠지게 된다 :

In [28]:
L = [1,2,3]
L2 = L
for i in L :
    L2.append(L2[-1]+1)
    print(L2)
print("END")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

In [29]:
L = [1, 2, 3]
L2 = L[:]
for i in L : 
    L2.append(L2[-1]+1)
    print(L2)
print ("END")

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
END

#### For문 작성 방식 / List Comprehension:

Example 1)

In [31]:
L1 = [1,2,3,4,5]
L2=[]
for n in L1 : 
    L2.append(n*2)
print(L2)

[2, 4, 6, 8, 10]

In [30]:
L1=[1,2,3,4,5]
L2=[n*2 for n in L1]
print (L2)

[2, 4, 6, 8, 10]

Example 2)

In [32]:
L1=[1,2,3,4,5]
L2=[]
for n in L1:
    if n%2 == 0:
        L2.append(n*2)
print(L2)

[4, 8]

In [39]:
L1=[1,2,3,4,5]
L2=[n*2 for n in L1 if n%2 == 0]
print(L2)

[4, 8]

Example 3)

In [35]:
L1=[1,2,3,4,5]
L2=[]
for n in L1 :
    if n%2 == 0 :
        L2.append(n*2)
    else :
        L2.append(n*(-2))
print(L2)

[-2, 4, -6, 8, -10]

In [33]:
L1=[1,2,3,4,5]
L2=[n*2 if n%2==0 else n*(-2) for n in L1]
print(L2)

[-2, 4, -6, 8, -10]

#### Exercise

Q1 )

In [67]:
N = int(input())
for i in range(N) :
    print("*"*(i+1))

5
*
**
***
****
*****

Q2 )

In [69]:
N=int(input())
for i in range (N) :
    print("*"*(N-i))

5
*****
****
***
**
*

Q3 )

In [74]:
N=int(input())
for i in range(N) :
    print(" "*(N-i)+"*"*(i+1))

5
     *
    **
   ***
  ****
 *****

Q4 )

In [77]:
for i in range (2,10) :
    for j in range(1,10) :
        print(f"{i} x {j} = {i*j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

Project Euler Q1 :

In [78]:
total = 0
for i in range(1000) :
    if i%3==0 or i%5 == 0 :
        total += i
print(total)

233168