# List, Tuple, Set, Dictionary

| Basic data type | In Python | Example |
| :-: |  :-: |  :-: |
| Numeric Types | int, float, complex | 1, 3.14, 2+3j |
| Text Sequence Type | str | 'Hello World' |
| Sequence Types | list, tuple | [1, 2, 3], (1, 2, 3) |
| Set Type | set | {1, 2, 3} |
| Mapping Type | dict | {'park': '010-1234-5678} |
| Boolean Type | bool | True, False |
| ... | ... | ... |

## 1. Sequence Types - list

*list* is an ordered and changeable collection of data objects.
- list can be expressed using brackets ([ ]) and comma(,).
- list can contain a mixture of various-type objects.

#### Value assignment: list is mutable

list is a mutable type, so it is possible to change values of elements in a list.

Please run the following codes and see what results are printed.

In [1]:
L = [1, 2, 3]
L[0] = -1  # assign one value to specific element index.
print(L)

[-1, 2, 3]

In [2]:
L = [1, 2, 3]
L[1] = 5  # assign one value to specific element index.
print(L)

[1, 5, 3]

It is also possible to replace values using slicing.

For example,

```
L = [1, 2, 3, 4, 5]

L[0:2] = [6, 7]
print(L)
```
**[6, 7, 3, 4, 5]**


Please run the following codes and see how it works.

In [3]:
L = [1, 2, 3]
L[0:2] = -1  # Error: assigning non-literable value to specific range of index is impossible
print(L)

TypeError: can only assign an iterable

In [4]:
L = [1, 2, 3]
L[0:2] = [-1]  # assigning a list to specific range of index is possible
print(L)

[-1, 3]

In [5]:
L = [1, 2, 3]
L[0:2] = [-1, -2, -3, -4]  # assigning a list to specific range of index is possible
print(L)

[-1, -2, -3, -4, 3]

### 1.1 Indexing

Please print first friend's name using postive index and negative index.

In [6]:
friends = ['Park', 'Lee', 'Kim', 'Hong', 'Kang']

print(friends[0])  # using postive index
print(friends[-5])  # using negative index

Park
Park

### 1.2 Slicing

There are various ways to use slicing.

For example,

```
L = [1, 2, 3, 4, 5]

print(L[0:3])  # print first three elements    
print(L[:3])  # print first three elements
print(L[-3:])  # print last three elements
print(L[-3:5])  # print last three elements
print(L[-3:len(L)])  # print last three elements
```

Please print first three friend's name using slicing.

In [7]:
friends = ['Park', 'Lee', 'Kim', 'Hong', 'Kang']

print(friends[0:3])

['Park', 'Lee', 'Kim']

Please print last three friend's name using slicing

In [9]:
friends = ['Park', 'Lee', 'Kim', 'Hong', 'Kang']

print(friends[-1:-4:-1])

['Kang', 'Hong', 'Kim']

### 1.3 Operations

#### Concatenation

Please create a new list `L3`, using `L1 + L2` (+ operator).

Then, print `L1`, `L2`, and `L3`, and see how the concatenation works with list.

In [10]:
L1 = [1, 2, 3, [4, 5]]
L2 = ["Hello World"]
L3 = L1+L2

print(L1)
print(L2)
print(L3)

[1, 2, 3, [4, 5]]
['Hello World']
[1, 2, 3, [4, 5], 'Hello World']

#### Repeat

Please create a new list `L2`, using `L1 * N` (* operator)

Then, print `L1` and `L2`, and see how the repeat works with list.

In [1]:
L1 = [1, 2, 3, [4, 5]]
L2 = L1 * 2

print(L1)
print(L2)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 1, 2, 3, [4, 5]]

#### In

`in` operator returns True if there's an element in the list that's equal to the given item, False otherwise.

Please run the following code and think about why the results are printed.

In [2]:
print(1 in [1, 2, 3])
print(1 in ['1', 2, 3])
print('a' in ['a', 'b', 'c'])
print('a' in ['A', 'B', 'C'])

True
False
True
False

### 1.4 Nested lists

list can be also nested. For a nested list, nested indexing and slicing can be used.

Please run the following codes and see what results are printed.

In [3]:
L = [1, 2, [3, 4, 5]]

print(L[0])
print(L[1])
print(L[2])

print(L[2][0])
print(L[2][1])
print(L[2][2])

1
2
[3, 4, 5]
3
4
5

### 1.5 Shallow copy and deep copy

There are several ways to create a copy of an existing list.

#### 1.5.1 Assignment

This way is not a way to create a copy of an exising list. This will share same value.

In [4]:
a = [1, 2, 3]
b = a

print(a, id(a))
print(b, id(b))  # same memory addresses, sharing same value

[1, 2, 3] 2061737819392
[1, 2, 3] 2061737819392

Chaning a value of any element in `a` is equal to changing a value of any element in `b`.

In [5]:
a = [1, 2, 3]
b = a

a[0] = 100
print(a, id(a))
print(b, id(b))

[100, 2, 3] 2061737820352
[100, 2, 3] 2061737820352

#### 1.5.2 Shallow copy

#### 1.5.2.1 Shallow copy using slicing

You can copy a list using slicing

In [6]:
a = [1, 2, 3]
b = a[:]

# differnt memory addresses, independent of each other
print(a, id(a))
print(b, id(b))

[1, 2, 3] 2061737819648
[1, 2, 3] 2061737820608

Although a value of `a`'s element is changed, `b` will not be affected because they are independent, as follows:

In [7]:
a = [1, 2, 3]
b = a[:]

a[0] = 100

print(a, id(a))
print(b, id(b))

[100, 2, 3] 2061737834752
[1, 2, 3] 2061737820352

#### 1.5.2.2 Shallow copy using copy method

You can copy a list using slicing

In [8]:
a = [1, 2, 3]
b = a.copy()

print(a, id(a))
print(b, id(b))  # differnt memory addresses, independent of each other

[1, 2, 3] 2061737820608
[1, 2, 3] 2061737835712

Although a value of `a`'s element is changed, `b` will not be affected because they are independent, as follows:

In [9]:
a = [1, 2, 3]
b = a.copy()

a[0] = 100

print(a, id(a))
print(b, id(b))

[100, 2, 3] 2061737820352
[1, 2, 3] 2061737819648

#### 1.5.2.3 A problem of shallow copy

Shallow copy may cause a problem when a list has a list as an element.

For example, if you changed one of values in a nested list, it will be affected to the copied list, as follows:

In [10]:
a = [1, 2, 3, [4, 5]]
b = a[:]

a[3][0] = 100  # just tried to a value of a, but b's value will be also changed if the value is in a nested list.

print(a, id(a))
print(b, id(b))

[1, 2, 3, [100, 5]] 2061737834752
[1, 2, 3, [100, 5]] 2061737821824

#### 1.5.3 Deep copy

To prevent the problem of shallow copy for a nested list, you can copy a list using `deepcopy` module, as follows:

In [11]:
import copy
a = [1, 2, 3, [4, 5]]
b = copy.deepcopy(a)

a[3][0] = 100  # just tried to a value of a. Now, b will not be affected although the value is in a nested list.

print(a, id(a))
print(b, id(b))

[1, 2, 3, [100, 5]] 2061737835712
[1, 2, 3, [4, 5]] 2061737842560

### 1.6 list methods

| Method | Description |
| :- |  :- |
| list.copy() | Returns a copy of the list without changing itself |
| list.clear() | Removes all the elements from the list |
| list.append(x) | Adds an element x to the end of the list |
| list.extend(L) | Add the list L (or any iterable objects) to the end |
| list.insert(i, x) | Adds an element x at the specified position i (index) |
| list.pop(i) | Returns the element at the specified position i (index) and remove the element from the list |
| list.remove(x) | Removes the first item with the specified value |
| list.reverse() | Reverses the order of the list |
| list.sort() | Sorts the list |
| list.index() | Returns an index of the first occurrence of x in the list |
| list.count() | Returns a total number of occurrences of x in the list |

Please try to run following codes to see hot the methods work

In [12]:
L = [1, 2, 3]

L2 = L.copy()
print(L2)

L2.clear()
print(L2)

L.append(?)
print(L)

L.extend(?)
print(L)

L.insert(?, ?)
print(L)

value = L.pop(?)
print(L, value)

L.remove(?)
print(L)

L.reverse()
print(L)

L.sort()
print(L)

i = L.index(?)
print(L, i)

c = L.count(?)
print(L, c)

SyntaxError: invalid syntax (3779912062.py, line 9)

## 2. Sequence Types - tuple

*tuple* is an ordered and unchangeable collection of data objects.
- tuple can be expressed using parenthesis () and comma(,).
- tuple can contain a mixture of various-type objects.
- If tuple has only one value, tuple can be expressed with ending comma, such as (1,)

#### Value assignment: tupl is immutable

tuple is a immutable type, so it is impossible to change values of elements in a tuple.

Please run the following codes and see what results are printed.

In [13]:
T = (1, 2, 3)
T[0] = -1  # assign one value to specific element index: error
print(T)

TypeError: 'tuple' object does not support item assignment

In [14]:
a = (1)
print(a, type(a))

b = (1,)
print(b, type(b))

1 <class 'int'>
(1,) <class 'tuple'>

### 2.1 Indexing

Please print first friend's name using postive index and negative index.

In [ ]:
friends = ('Park', 'Lee', 'Kim', 'Hong', 'Kang')

print(friends[?])  # using postive index
print(friends[?])  # using negative index

### 2.2 Slicing

There are various ways to use slicing.

For example,

```
T = (1, 2, 3, 4, 5)

print(T[0:3])  # print first three elements    
print(T[:3])  # print first three elements
print(T[-3:])  # print last three elements
print(T[-3:5])  # print last three elements
print(T[-3:len(L)])  # print last three elements
```

Please print first three friend's name using slicing.

In [ ]:
friends = ('Park', 'Lee', 'Kim', 'Hong', 'Kang')

print(friends[?:?])

Please print last three friend's name using slicing

In [ ]:
friends = ('Park', 'Lee', 'Kim', 'Hong', 'Kang')

print(friends[?:?])

### 2.3 Operations

#### Concatenation

Please create a new list `T3`, using `T1 + T2` (+ operator).

Then, print `T1`, `T2`, and `T3`, and see how the concatenation works with list.

In [15]:
T1 = (1, 2, 3, [4, 5])
T2 = ("Hello World",)
T3 = 

print(T1)
print(T2)
print(T3)

SyntaxError: invalid syntax (3315061798.py, line 3)

#### Repeat

Please create a new list `T2`, using `T1 * N` (* operator)

Then, print `T1` and `T2`, and see how the repeat works with list.

In [16]:
T1 = (1, 2, 3, [4, 5])
T2 = T1 * 2

print(T1)
print(T2)

(1, 2, 3, [4, 5])
(1, 2, 3, [4, 5], 1, 2, 3, [4, 5])

#### In

`in` operator returns True if there's an element in the list that's equal to the given item, False otherwise.

Please run the following code and think about why the results are printed.

In [17]:
print(1 in (1, 2, 3))
print(1 in ('1', 2, 3))
print('a' in ('a', 'b', 'c'))
print('a' in ('A', 'B', 'C'))

True
False
True
False

### 1.4 Nested tuples

tuple can be nested. For a nested tuple, nested indexing and slicing can be used.

Please run the following codes and see what results are printed.

In [37]:
T = (1, 2, (3, 4, 5))

print(T[0])
print(T[1])
print(T[2])

print(T[2][0])
print(T[2][1])
print(T[2][2])

1
2
(3, 4, 5)
3
4
5

### 1.5 tuple methods

| Method | Description |
| :- |  :- |
| tuple.index() | Returns an index of the first occurrence of x in the tuple |
| tuple.count() | Returns a total number of occurrences of x in the tuple |

Please try to run following codes to see hot the methods work

In [ ]:
T = (1, 2, 3)

i = T.index(?)
print(T, i)

c = T.count(?)
print(L, c)

## Common sequence operations & built-in functions (for str, list, tuple)

Following methods are common sequence operations for sequence types such as str, list, and tuple. Please try to run all the methods using str, list, and tuple below.

| Method | Description |
| :- |  :- |
| x (not) in S | Returns True if an item of S is (not) equal to x, else False |
| S1 + S2 | Returns the concatenation of S1 and S2 |
| S1 * N | Returns Equivalent to adding S to itself N times |
| s[i] / s[i:j:k] | Returns ith item of s (Indexing) / slice of S (Slicing) |
| len(S) | Returns a length of S |
| min(S) / max(S) | Returns a smallest/largest item of S |
| sorted(S) | Returns a sorted S as a list type |
| S.index(x) | Returns an index of the first occurrence of x in S |
| S.count(x) | Returns a total number of occurrences of x in S |

In [36]:
print('H' in 'Hello World')
print(1 in [1, 2, 3])
print(1 in (1, 2, 3))

print('A' + 'B')
print([1, 2, 3] + [4, 5, 6])
print((1, 2, 3) + (4, 5, 6))

# run the rest of methods using str, list, and tuple here

True
True
True
AB
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

## 3. Set

- set is an unordered and unindexed collection of data objects.
- set is created using braces { } and comma.
- set cannot have two items with the same value.
- set can contain a mixture of various-type objects, but cannot contain mutable types (list, set, dictionary…)

#### Value assignment: Indexing and slicing is impossible because set has no order

Please try to run following codes and understand how set works.

In [35]:
S = {1, 2, 3}
S[0] = 10  # error. set is an unordered and unindexed collection of data objects.
print(S)

TypeError: 'set' object does not support item assignment

In [34]:
S = {1, 2, 3, 1, 2, 3}  
print(S)  # set cannot have two items with the same value.

{1, 2, 3}

In [33]:
S = {1, 2, 3, (4, 5)}  # possible to contain immutable values (such as str, tuple, and int)
print(S)

{3, 1, (4, 5), 2}

In [32]:
S = {1, 2, 3, [4, 5]}  # impossible to contain mutable values (such as list) because an element of set must not be changed.
print(S)  # error

TypeError: unhashable type: 'list'

### 3.1 Operations

#### in

`in` operator returns True if there's an element in the list that's equal to the given item, False otherwise.

In [31]:
S = {1, 2, 3}
print(1 in S)
print(4 in S)

True
False

#### len(set)

`len(set)` returns a length of the set

In [30]:
S = {1, 2, 3, 3, 3}
print(len(S))

3

#### min(set)

`min(set)` returns a smallest item of the set

In [29]:
S = {1, 2, 3, 4, 5}
print(min(S))

1

#### max(set)

`max(set)` returns a largest item of the set

In [28]:
S = {1, 2, 3, 4, 5}
print(max(S))

5

#### Other set operations

| Set Operation | Description |
| :- | :- |
| A $|$ B |  Union (합집합) $A \cup B$ |
| A & B  |  Intersection (교집합) $A \cap B$ | 
| A - B  |  Difference (차집합) $A - B$ | 
| A >= B |  Superset (같거나 상위집합) $A \supseteq B$ | 
| A <= B |  Subset (같거나 부분집합) $A \subseteq B$ | 

Please try to run following codes to see hot the methods work

In [27]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}

print(S1|S2)
print(S1&S2)
print(S1-S2)
print(S2-S1)

S1 = {1, 2, 3}
S2 = {1, 2, 3, 4, 5}

print(S1>S2)
print(S1>=S2)
print(S1<S2)
print(S1<=S2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
False
False
True
True

### 3.2 set methods



| Method | Description |
| :- | :- |
| set.clear() |  Removes all the elements from the set |
| set.copy() |  Returns a copy of the set |
| set.add(x) |  Adds an element to the rest |
| set.pop() | Removes any a random element from the set and returns the removed element. |
| set.remove(x) | Removes the specified element |
| set.difference(set) | Retruns a set containing the difference between sets |
| set.intersection(set) | Returns a set, that is the intersection of two or more sets |
| set.union(set) | Returns a set containing the union of sets |

Please try to run following codes to see hot the methods work

In [26]:
S = {1, 2, 3, 4, 5}
S.clear()
print(S)

set()

In [25]:
S = {1, 2, 3, 4, 5}
S2 = S.copy()
print(S, id(S))
print(S2, id(S2))

{1, 2, 3, 4, 5} 2061738519456
{1, 2, 3, 4, 5} 2061738519232

In [24]:
S = {1, 2, 3, 4, 5}
S.add(6)
print(S)

{1, 2, 3, 4, 5, 6}

In [23]:
S = {1, 2, 3, 4, 5}
value = S.pop()
print(value)
print(S)

1
{2, 3, 4, 5}

In [22]:
S = {1, 2, 3, 4, 5}
S.remove(5)
print(S)

{1, 2, 3, 4}

In [21]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1.difference(S2))

S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S2.difference(S1))

{1, 2, 3}
{8, 6, 7}

In [20]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1.intersection(S2))

S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S2.intersection(S1))

{4, 5}
{4, 5}

In [19]:
S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S1.union(S2))

S1 = {1, 2, 3, 4, 5}
S2 = {4, 5, 6, 7, 8}
print(S2.union(S1))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

## 4. dict (Dictionary)

- Dictionary is an ordered key & value pairs of data objects.
- Dictionary is created using braces, colons, commas as {key: value, …}.
- Dictionary cannot have duplicated keys.
- Keys must be **immutable**, such as int, str, and tuple, **not list**
- Dictionary is indexable by keys, not numbers, such as d[key]

In [ ]:
score = dict()
score["Park"] = 100
score["Lee"] = 90
print(score)

In [ ]:
score = {"Park": 100, "Lee": 90}
print(score["Park"])
print(score[0])  # error

### 4.1 Operations

#### in

`in` operator returns True if there's one of keys for a dictionary is equal to the given item, False otherwise.

In [ ]:
D = {"Park": 100, "Lee": 90}
print("Park" in D)
print("Kim" in D)

#### len(set)

`len(dict)` returns a length of the dictionary

In [58]:
D = {"Park": 100, "Lee": 90}
print(len(D))

2

#### min(set)

`min(dict)` returns a smallest key of the dictionary

In [ ]:
D = {"Park": 100, "Lee": 90}
print(min(D))

#### max(set)

`max(dict)` returns a largest key of the dictionary

In [ ]:
D = {"Park": 100, "Lee": 90}
print(max(D))

### 4.2 dict methods



| Method | Description |
| :- | :- |
| dict.clear() | Removes all the elements from the dictionary |
| dict.copy() | Returns a copy of the dictionary |
| dict.get(key) | Returns the value of the specified key, same as dict[key] |
| dict.keys() | Returns a list containing the dictionary's keys |
| dict.values(x) | Returns a list of all the values in the dictionary |
| dict.items() | Returns a list containing a tuple for each key value pair |
| dict.pop(key) | Removes the element with the specified key and return the value |
| dict.setdefault(key, value) | Returns the value of the specified key. If the key does not exist, insert the key with the specified value and return the value |
| dict.popitem() | Removes the last inserted key-value pair and return the pair |
| dict.update(dict) | Updates the dictionary with the specified key-value pairs |

Please try to run following codes to see hot the methods work

In [38]:
D = {"Park": 100, "Lee": 90}
D.clear()
print(D)

{}

In [39]:
D = {"Park": 100, "Lee": 90}
D2 = D.copy()
print(D, id(D))
print(D2, id(D2))

{'Park': 100, 'Lee': 90} 2061737852096
{'Park': 100, 'Lee': 90} 2061737527872

In [40]:
D = {"Park": 100, "Lee": 90}
print(D.get("Park"))  # sams as D["Park"]

100

In [41]:
D = {"Park": 100, "Lee": 90}
print(D.keys())
print(list(D.keys()))

dict_keys(['Park', 'Lee'])
['Park', 'Lee']

In [42]:
D = {"Park": 100, "Lee": 90}
print(D.values())
print(list(D.values()))

dict_values([100, 90])
[100, 90]

In [43]:
D = {"Park": 100, "Lee": 90}
print(D.items())
print(list(D.items()))

dict_items([('Park', 100), ('Lee', 90)])
[('Park', 100), ('Lee', 90)]

In [44]:
D = {"Park": 100, "Lee": 90}
item = D.pop("Park")
print(item)
print(D)

100
{'Lee': 90}

In [45]:
D = {"Park": 100, "Lee": 90}
item = D.setdefault("Park", 99)  # "Park" is a key, so return its value
print(item)
print(D)

D = {"Park": 100, "Lee": 90}
item = D.setdefault("Kim", 99)  # "Kim" is not a key yet, so insert this key-value pair and return its value
print(item)
print(D)

100
{'Park': 100, 'Lee': 90}
99
{'Park': 100, 'Lee': 90, 'Kim': 99}

In [46]:
D = {"Park": 100, "Lee": 90}
item = D.popitem()
print(item)
print(D)

('Lee', 90)
{'Park': 100}

In [47]:
D = {"Park": 100, "Lee": 90}
D.update({"Kim": 99})  # same as D["Kim"] = 99
print(D)

{'Park': 100, 'Lee': 90, 'Kim': 99}

# Type casting between data types

| Method | Description |
| :- | :- |
| str.split(separator) | Returns a list which consists of split substrings by the given separator (a default separator is one space) |
| str.join(iterable) | Returns a string which is the concatenation of strings in an iterable object, such as a tuple, a list, a dictionary, and a set |
| list(tuple)/tuple(list) | Returns a converted type of the given tuple/list |
| tuple(str) / list(str) | Returns a tuple/list which consists of characters of the string as elements |
| str(any object) | Returns a string as the object looks like |

Please try to run following codes to see hot the methods work

In [ ]:
names = "Park Kim Lee"
name_list = names.split()
print(name_list)

names = "Park\nKim\nLee"
name_list = names.split("\n")
print(name_list)

In [ ]:
name = ("Park", "Sangkeun")
name_str = ", ".join(name)
print(name_str, type(name_str))

num = ["010", "1234", "5678"]
num_str = "-".join(num)
print(num_str, type(num_str))

In [ ]:
T = ("Hello", 2022)
L = list(T)
print(L, type(L))

L = ["Hello", 2022]
T = tuple(L)
print(T, type(T))

In [ ]:
s = "hello"
L = list(s)
print(L, type(L))

s = "hello"
T = tuple(s)
print(T, type(T))

In [ ]:
names = ['Park', 'Kim']
s = str(names)
print(s, type(s))
print(s[0:4])

names = {"Park": 1, "Lee": 2}
s = str(names)
print(s, type(s))
print(s[0:4])